// Custom styles.

body {
  //font-size: 14px;
  //background: url(/images/bg.jpg);  //https://source.unsplash.com/random/1600x900
  //background-repeat: repeat;
  //background-attachment:fixed;
  //background-position:50% 50%;
}
